#background {
    background-image: url("./assets/bg.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    user-select: none;
}

.title {
    position: absolute;
    width: 387px;
    height: 30px;
    left: 206px;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
}

#titleTop {
    top: 140px;
    display: flex;
    justify-content: space-between;
}

#winMessage {
    top: 440px;
    text-align: center;
}

#slotMachine {
    background-image: url("./assets/frame.png");
    position: absolute;
    width: 450px;
    height: 265px;
    top: 165px;
    left: 177px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#slotMachineIn {
    position: relative;
    width: 394px;
    height: 217px;
}

.columnSlotMachine {
    position: absolute;
    width: 124px;
    height: 215px;
}

#winline {
    background-image: url("./assets/winline.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 373px;
    height: 30px;
    top: 93px;
    left: 8px;
    display: none;
}

#column2 {
    left: 134px;
}

#column3 {
    left: 271px;
}

#startButton {
    background-image: url("./assets/buttons/play_button_0.png");
    position: absolute;
    width: 103px;
    height: 76px;
    top: 479px;
    left: 350px;
    cursor: pointer;
}

#startButton span {
    color: #fafafa;
    display: flex;
    justify-content: center;
    line-height: 76px;
    font-weight: bold;
    font-size: 20px;
} 

#startButton.disabled {
    background-image: url("./assets/buttons/play_button_3.png");
    cursor: not-allowed;
    pointer-events: none;
}
  
#startButton.disabled span {
    color: #808080;
}